{% extends 'learning_logs/base.html' %}

{% block content %}

    <p>Tópico: {{ topic }}</p>

    <p>Anotações: </p>

    <!--link pra chegar nas anotaç~es, daq ta saindo o topic id  -->
    <p>
        <a href = "{% url 'new_entry' topic.id %}">Adicione uma nova anotação</a>
    </p>
    
    <ul>
        {% for entry in entries %}

        <!-- a lista dentro do for -->
        <li>
            <p>{{ entry.date_added | date:'M d, Y H:i' }}</p> <!-- o | pra filtrar, pega essa data e formata nessa data -->
            <p>{{ entry.text | linebreaks }}</p> <!-- linebreaks = quebra as linhas quando necessário -->
        </li>

        {% empty %}
        Não há registro

        {% endfor %}

    </ul>

{% endblock content %}