{% extends "learning_logs/base.html" %}

{% block content %}
    <p>Adicione um novo tópico: </p>
    
    <!-- aqui que ele vai botar o formulário que ele criou -->
    <!--pra enviar pra mesma págia em que está, poderia só colocar um ponto -->
    <form action="{% url 'new_topic' %}" method="POST">
        <!-- tem que passar essa tag na primeira linha do formulario html de django -->
        <!--porque é um tag de SEGURANÇA, PRA EVITAR ATAQUES -->
        {% csrf_token %}
        {{ form.as_p}} <!-- formatar o formulário -->

        <!-- precisa criar um botão -->
         <button name="submit"> adicionar</button>
    </form>

{% endblock content %}